<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>The Wesch' Shop</title>
</head>

<body>

<div class="header">
    <img class="logo" src="pictures/wesch_log.png"/>


</div>

<div class="navigation_menu">
    <a href="">About</a>
    <a href="">Shirts</a>
    <a href="">Hats</a>
    <a href="">Contacts</a>
    <a href="">Login</a>
</div>

<div class="about"></div>

<div class="footer"></div>

<link rel="stylesheet" type="text/css" href="style/shop.css">
</body>

</html>