<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <title>The Wesch' Shop</title>
</head>

<body>


Hello
<!--<div class="header">-->
    <!--<img class="logo" src="pictures/wesch_log.png"/>-->
<!--</div>-->

<!--<div class="index_body">-->
    <!--<a th:href="@{/shop}">-->
        <!--<img class="image_shop" src="pictures/shop_now.jpeg"/>-->
    <!--</a>-->
    <!--<h1 class="text">Welcome to The Wesch` Shop</h1>-->
<!--</div>-->

<!--&lt;!&ndash;Now is: <b th:text="${execInfo.now.time}"></b>&ndash;&gt;-->
<!--&lt;!&ndash;Elements in system : <b th:text="${elements}"</b>&ndash;&gt;-->
<!--<div class="footer">-->
    <!--SN Login here-->
<!--</div>-->

<!--<link rel="stylesheet" type="text/css" href="style/shop.css"/>-->
</body>

</html>