<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>The Wesch' Shop</title>
    <script src="js/navigation.js"></script>
</head>

<body>
<div>


    <header>
        <div class="container">
            <h1 class="logo">
                The<span>Wesch</span>
            </h1>

            <nav class="site-nav">
                <ul>
                    <li><a href=""><i class="fa fa-home site-nav--icon"></i>Home</a></li>
                    <li><a href=""><i class="fa fa-info site-nav--icon"></i>About</a></li>
                    <li><a href=""><i class="fa fa-pencil site-nav--icon"></i>Blog</a></li>
                    <li><a href=""><i class="fa fa-mars site-nav--icon"></i>Shop Men</a></li>
                    <li><a href=""><i class="fa fa-venus site-nav--icon"></i>Shop Women</a></li>
                    <li><a href=""><i class="fa fa-shopping-cart site-nav--icon"></i>Cart</a></li>
                    <li><a href=""><i class="fa fa-laptop site-nav--icon"></i>Login</a></li>
                </ul>
            </nav>

            <div class="menu-toggle" onclick="nav_bar_open()">
                <div class="hamburger"></div>
            </div>

        </div>

    </header>

    <section class="one">
        <div class="one__buy">
            <div class="one__buy_men">
                <a href="" class="">Shop Men</a>
            </div>
            <div class="one__buy_women">
                <a href="" class="">Shop Women</a>
            </div>
        </div>
        <div class="one_arrow_left"></div>
        <div class="one_arrow_right"></div>
    </section>
    <section class="two">
        <div class="main-content">
            <div class="portfolio">
                <div class="portfolio-item medium portfolio-item-body item-one">one</div>
                <div class="portfolio-item large portfolio-item-body item-two">two</div>
                <div class="portfolio-item medium portfolio-item-body item-three">three</div>
                <div class="portfolio-item small portfolio-item-body item-four">four</div>
                <div class="portfolio-item tall portfolio-item-body item-five">five</div>
                <div class="portfolio-item wide portfolio-item-body item-six">six</div>
            </div>
        </div>
    </section>
    <section class="instagram_section">

        <div class="grid_section">
            <div class="portfolio-2">
                <div class="portfolio-item2 large portfolio-item-body item-one">one</div>
                <div class="portfolio-item2 medium portfolio-item-body item-one">one</div>
                <div class="portfolio-item2 medium portfolio-item-body item-one">one</div>
                <div class="portfolio-item2 medium portfolio-item-body item-one">one</div>
                <div class="portfolio-item2 medium portfolio-item-body item-one">one</div>
                <div class="portfolio-item2 medium portfolio-item-body item-one">one</div>
            </div>
        </div>

    </section>

    <footer class="footer">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem beatae dignissimos dolores enim, excepturi fugiat laudantium molestiae nam natus neque nobis non nostrum officia pariatur perspiciatis quas quisquam reiciendis veniam!
    </footer>



</div>

<link rel="stylesheet" type="text/css" href="style/reset_css.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="style/site_nav.css"/>
</body>

</html>
