<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>The Wesch' Shop</title>
</head>

<body>

<div class="header">
    <img class="logo" src="pictures/wesch_log.png"/>


</div>
<div class="navigation_menu">
    <a href="">About</a>
    <a href="">Shirts</a>
    <a href="">Hats</a>
    <a href="">Contacts</a>
    <a href="">Login</a>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input th:type="submit" value="Sign Out">
    </form>
</div>


<div class="rgallery" th:each="i : ${#numbers.sequence(0, rows - 1)}">

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="pictures/wesch.jpg" alt="TEXT HERE" width="300" height="400"/>
            </a>
            <div class="description">Smth about picture</div>
        </div>
    </div>

</div>

</div>

<h1 class="text">Welcome to The Wesch` Shop</h1>
<!--Now is: <b th:text="${execInfo.now.time}"></b>-->
<!--Elements in system : <b th:text="${elements}"</b>-->
<div class="footer"></div>

<link rel="stylesheet" type="text/css" href="style/shop.css">
</body>

</html>