<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>The Wesch' Shop</title>
</head>

<body>


<header class="header_class">
    <div class="nav__mobile">
        <div id="mobile-menu-action" class="hamburger"></div>
    </div>
    <nav class="nav__link nav__wrap">
        <div class="nav__left">
            <div class="nav__selection">
                <h2 class="nav__item">about</h2>
            </div>
            <div class="nav__selection">
                <h2 class="nav__item">men</h2>

            </div>
            <div class="nav__selection">
                <h2 class="nav__item">women</h2>

            </div>
        </div>
        <div class="nav__link nav__logo"></div>
        <div class="nav__link nav__right">
            <div class="nav__selection">
                <h2 class="nav__item">women</h2>

            </div>
            <div class="nav__selection">
                <h2 class="nav__item">women</h2>

            </div>
            <div class="nav__selection">
                <h2 class="nav__item">women</h2>

            </div>
        </div>
    </nav>
</header>

<main>
    <section id="hero_container">
        <div class="hero_copy">
            <div class="hero_header">TURNS OUT, THE WORLD'S MOST COMFORTABLE SHIRTS ARE MADE IN KIEV</div>
        </div>
        <div class="hero_shop">
            <ul class="home-shop-links">
                <li class="home-shop-links__item">SHOP MEN</li>
                <li class="home-shop-links__item">SHOP WOMEN</li>
            </ul>
        </div>
    </section>


</main>

<footer>

    <div class="footer">


        <a target="_blank" title="follow me on instagram" href="http://www.instagram.com/thewesch">
            <img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram40x40.png"/>
        </a>
        <a target="_blank" title="find us on Facebook" href="http://www.facebook.com/thewesch">
            <img alt="find us on facebook"
                 src="//login.create.net/images/icons/user/facebook-c_130x50.png"/>
        </a>

    </div>
</footer>


<link rel="stylesheet" type="text/css" href="style/shop_new.css"/>
<!--<link rel="stylesheet" type="text/css" href="style/shop1.css"/>-->
</body>

</html>
