<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>The Wesch' Shop</title>
</head>

<body>

<div class="main">
    <div class="header">
        <img class="logo" th:src="@{pictures/wesch_log.png}"/>
    </div>

    <div class="navigation_menu">
        <a th:href="@{/about.html}">About</a>
        <a th:href="@{/templates/__shop.html}">Shop</a>
        <a th:href="@{/contacts.html}">Contacts</a>
        <a th:href="@{/login.html}">Login</a>

        <!--<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->
        <!--<form th:action="@{/logout}" method="post">-->
        <!--<input th:type="submit" value="Sign Out"/>-->
        <!--</form>-->
    </div>

    <div class="shop_page">
        <div class="row">
            <div class="column" th:each="element : ${elements}">
                <div class="content">
                    <a th:href="@{'/shop/' + ${element.id}}"><img src="/pictures/shop_now.jpeg" alt="Mountains" style="width:100%"/></a>
                    <span th:text="${element.id}">1.</span>
                    <span th:text="${element.name}">ElementName</span>
                    <span th:text="${element.price}">ElementName</span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">

        <a target="_blank" title="follow me on instagram" href="http://www.instagram.com/thewesch">
            <img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram40x40.png"/>
        </a>
        <a target="_blank" title="find us on Facebook" href="http://www.facebook.com/thewesch">
            <img alt="find us on facebook"
                 src="//login.create.net/images/icons/user/facebook-c_130x50.png"/>
        </a>

    </div>
</div>


<link rel="stylesheet" type="text/css" th:href="@{css/shop.css}"/>
<!--<link rel="stylesheet" type="text/css" href="style/shop1.css"/>-->
</body>

</html>
